{% extends 'base.html' %} {% load static %} {% block title %} Update Profile {% endblock title %} {% block stylesheets %} {{ block.super }}
{% endblock stylesheets %} {% block content %}

<div class="w-full container mx-auto pt-20">
	<div class="flex flex-col items-center py-12">
		<span class="font-bold text-gray-800 uppercase hover:text-gray-700 text-5xl">Profile Update</span>
		<p class="text-lg text-gray-600">Update your profile.</p>
	</div>
</div>

<div class="bg-white dark:bg-gray-800">
	<form method="post" action="{% url 'author_profile_update' %}" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
		<div class="container mx-auto bg-white dark:bg-gray-800 rounded">
			<div class="xl:w-full border-b border-gray-300 dark:border-gray-700 py-5 bg-white dark:bg-gray-800">
				<div class="flex w-11/12 mx-auto xl:w-full xl:mx-0 items-center">
					<p class="text-lg text-gray-800 dark:text-gray-100 font-bold">Update Profile</p>
				</div>
			</div>
			<div class="mx-auto">
				<div class="xl:w-9/12 w-11/12 mx-auto xl:mx-0">
					<div class="rounded relative mt-8 h-48">
						<img src="{% static 'images/bg_author.jpg' %}" alt="bg author" class="w-full h-full object-cover rounded absolute shadow" />
						<div class="absolute bg-black opacity-50 top-0 right-0 bottom-0 left-0 rounded"></div>
						<div class="flex items-center px-3 py-2 rounded absolute right-0 mr-4 mt-4 cursor-pointer">
							<p class="text-xs text-gray-100">Change Cover Photo</p>
							<div class="ml-2 text-gray-100">
								<img src="{% static 'images/edit.svg' %}" alt="Edit" />
							</div>
						</div>
						<div class="w-20 h-20 rounded-full bg-cover bg-center bg-no-repeat absolute bottom-0 -mb-10 ml-12 shadow flex items-center justify-center">
							<label class="cursor-pointer z-10">
								<img src="{{ user.profile.avatar_url }}" alt="" class="absolute -z-10 h-full w-full object-cover rounded-full shadow top-0 left-0 bottom-0 right-0" />
								<div class="absolute bg-black opacity-50 top-0 right-0 bottom-0 left-0 rounded-full z-0"></div>
								<div class="cursor-pointer flex flex-col justify-center items-center z-10 text-gray-100">									
									{{ contact_form.image.errors }}{{ profile_form.avatar }}
									<img src="{% static 'images/edit.svg' %}" alt="Edit" />
									<p class="text-xs text-gray-100">Edit Picture</p>
								</div>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container mx-auto bg-white dark:bg-gray-800 mt-10 rounded px-4">
			<div class="xl:w-full border-b border-gray-300 dark:border-gray-700 py-5">
				<div class="flex w-11/12 mx-auto xl:w-full xl:mx-0 items-center">
					<p class="text-lg text-gray-800 dark:text-gray-100 font-bold">Personal Information</p>
					<div class="ml-2 cursor-pointer text-gray-600 dark:text-gray-400">
						<img class="dark:hidden" src="{% static 'images/info.svg' %}" alt="info" />
						<img class="dark:block hidden" src="{% static 'images/info_dark.svg' %}" alt="info" />
					</div>
				</div>
			</div>
			<div class="mx-auto pt-4">
				<div class="container mx-auto">
					<form class="my-6 w-11/12 mx-auto xl:w-full xl:mx-0">
						<div class="container mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 pt-6 gap-8">
							<div class="lg:w-3/4 w-full flex flex-col mb-6">
								<div class="flex flex-col">
									<label for="Email" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Email</label>
									<div class="border border-green-400 shadow-sm rounded flex">
										<div tabindex="0" class="focus:outline-none px-4 py-3 dark:text-gray-100 flex items-center border-r border-green-400">
											<img class="dark:hidden" src="{% static 'images/mail.svg' %}" alt="mail" />
											<img class="dark:block hidden" src="{% static 'images/mail_dark.svg' %}" alt="mail" />
										</div>
										{{ contact_form.email.errors }}{{ user_form.email }}
									</div>
									<div class="flex justify-between items-center pt-1 text-green-700">
										<p class="text-xs">Email submission success!</p>
										<img src="{% static 'images/success.svg' %}" alt="success" />
									</div>
								</div>
								<div class="flex flex-col">
									<label for="FullName" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Full Name</label>
									{{ contact_form.name.errors }}{{ user_form.name }}
								</div>
							</div>
							<div class="flex flex-col lg:w-3/4 w-full mb-6">
								<label for="about" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">About</label>
								{{ contact_form.bio.errors }}{{ profile_form.bio }}
								<p class="w-full text-right text-xs pt-1 text-gray-600 dark:text-gray-400">Character Limit: 200</p>
							</div>
						</div>

						<div class="container mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 pt-6 gap-8">
							<div class="lg:w-3/4 w-full flex flex-col mb-6">
								<label for="StreetAddress" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Job Title</label>
								{{ contact_form.job_title.errors }}{{ profile_form.job_title }}
							</div>
							<div class="lg:w-3/4 w-full flex flex-col mb-6">
								<label for="StreetAddress" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Address</label>
								{{ contact_form.address.errors }}{{ profile_form.address }}
							</div>
							<div class="lg:w-3/4 w-full flex flex-col mb-6">
								<label for="StreetAddress" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Facebook Account Url</label>
								{{ contact_form.facebook_url.errors }}{{ profile_form.facebook_url }}
							</div>
							<div class="lg:w-3/4 w-full flex flex-col mb-6">
								<label for="StreetAddress" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Twitter Account Url</label>
								{{ contact_form.twitter_url.errors }}{{ profile_form.twitter_url }}
							</div>
							<div class="lg:w-3/4 w-full flex flex-col mb-6">
								<label for="StreetAddress" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Instagram Account Url</label>
								{{ contact_form.instagram_url.errors }}{{ profile_form.instagram_url }}
							</div>
							<div class="lg:w-3/4 w-full flex flex-col mb-6">
								<label for="StreetAddress" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Github Account Url</label>
								{{ contact_form.github_url.errors }}{{ profile_form.github_url }} 
							</div>
						</div>

						{% comment %} <div class="container mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 pt-6 gap-8">
							<div class="lg:w-3/4 w-full flex flex-col mb-6">
								<div class="flex items-center pb-2">
									<label for="ZIP" class="text-sm font-bold text-gray-800 dark:text-gray-100">ZIP/Postal Code</label>
								</div>
								<input tabindex="0" type="text" name="zip" required id="ZIP" class="bg-transparent border border-red-400 pl-3 py-3 shadow-sm rounded text-sm focus:outline-none focus:border-indigo-700 placeholder-gray-500 text-gray-600 dark:text-gray-400" placeholder="86745" />
								<div class="flex justify-between items-center pt-1 text-red-700">
									<p class="text-xs">Incorrect Zip Code</p>
									<img src="{% static 'images/cancel.svg' %}" alt="cancel" />
								</div>
							</div>
							<div class="lg:w-3/4 w-full flex flex-col mb-6">
								<label for="Country" class="pb-2 text-sm font-bold text-gray-800 dark:text-gray-100">Country</label>
								<input tabindex="0" type="text" id="Country" name="country" required class="border bg-transparent border-gray-300 dark:border-gray-700 pl-3 py-3 shadow-sm rounded text-sm focus:outline-none focus:border-indigo-700 placeholder-gray-500 text-gray-600 dark:text-gray-400" placeholder="United States" />
							</div>
						</div> {% endcomment %}
					</form>
				</div>
			</div>
		</div>

		<div class="container mx-auto w-11/12 xl:w-full">
			<div class="w-full py-4 sm:px-0 bg-white dark:bg-gray-800 flex justify-end">
				<button role="button" aria-label="cancel form" class="bg-gray-200 focus:outline-none transition duration-150 ease-in-out hover:bg-gray-300 dark:bg-gray-700 rounded text-indigo-600 dark:text-indigo-600 px-6 py-2 text-xs mr-4 focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">Cancel</button>
				<button role="button" aria-label="Save form" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 bg-indigo-700 focus:outline-none transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-8 py-2 text-sm" type="submit">Save</button>
			</div>
		</div>
	</form>
</div>

{% endblock content %}
