{% extends 'base.html' %} {% load static %} {% load only_hours %} {% block title %} Home {% endblock %} {% block stylesheets %} {{ block.super }}
{% endblock stylesheets %} {% block content %}
<div class="w-full container mx-auto pt-20">
    <div class="flex flex-col items-center py-12">
        <span class="font-bold text-gray-800 uppercase hover:text-gray-700 text-5xl">Dashboard</span>
    </div>
</div>
<div class="container mx-auto">
	<div class="w-full flex items-center justify-center">
		<div class="py-4 sm:py-6 md:py-8 bg-white shadow rounded-lg">
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 px-6 xl:px-10 gap-y-8 gap-x-12 2xl:gap-x-28">
				<div class="w-full">
					<p tabindex="0" class="focus:outline-none text-xs md:text-sm font-medium leading-none text-gray-500 uppercase">Articles Written</p>
					<p tabindex="0" class="focus:outline-none text-lg sm:text-xl md:text-2xl lg:text-3xl font-bold leading-3 text-gray-800 mt-3 md:mt-5">{{ total_articles_written }}</p>
					<div class="flex flex-col">
						<div class="h-4"></div>
						<div class="md:w-64 mt-2.5">
							<div class="w-full h-1 bg-gray-200 rounded-full">
								<div class="w-40 h-1 bg-lime-500 rounded-full"></div>
							</div>
						</div>
					</div>
					<p tabindex="0" class="focus:outline-none mt-1.5 text-xs leading-3 text-gray-500">Total Number Of Articles Written</p>
				</div>
				<div class="w-full">
					<p tabindex="0" class="focus:outline-none text-xs md:text-sm font-medium leading-none text-gray-500 uppercase">Published Articles</p>
					<p tabindex="0" class="focus:outline-none text-lg sm:text-xl md:text-2xl lg:text-3xl font-bold leading-3 text-gray-800 mt-3 md:mt-5">{{ total_articles_published }}</p>
					<div class="flex flex-col">
						<div class="h-4"></div>
						<div class="md:w-64 mt-2.5">
							<div class="w-full h-1 bg-gray-200 rounded-full">
								<div class="w-40 h-1 bg-lime-500 rounded-full"></div>
							</div>
						</div>
					</div>
					<p tabindex="0" class="focus:outline-none mt-1.5 text-xs leading-3 text-gray-500">Total Number Of Articles Published</p>
				</div>
				<div class="w-full">
					<p tabindex="0" class="focus:outline-none text-xs md:text-sm font-medium leading-none text-gray-500 uppercase">Views</p>
					<p tabindex="0" class="focus:outline-none text-lg sm:text-xl md:text-2xl lg:text-3xl font-bold leading-3 text-gray-800 mt-3 md:mt-5">{{ total_articles_views }}</p>
					<div class="flex flex-col">
						<div class="h-4"></div>
						<div class="md:w-64 mt-2.5">
							<div class="w-full h-1 bg-gray-200 rounded-full">
								<div class="w-40 h-1 bg-lime-500 rounded-full"></div>
							</div>
						</div>
					</div>
					<p tabindex="0" class="focus:outline-none mt-1.5 text-xs leading-3 text-gray-500">Total Views For All Articles</p>
				</div>
                <div class="w-full">
					<p tabindex="0" class="focus:outline-none text-xs md:text-sm font-medium leading-none text-gray-500 uppercase">Comments</p>
					<p tabindex="0" class="focus:outline-none text-lg sm:text-xl md:text-2xl lg:text-3xl font-bold leading-3 text-gray-800 mt-3 md:mt-5">1{{ total_articles_comments }}</p>
					<div class="flex flex-col">
						<div class="h-4"></div>
						<div class="md:w-64 mt-2.5">
							<div class="w-full h-1 bg-gray-200 rounded-full">
								<div class="w-40 h-1 bg-lime-500 rounded-full"></div>
							</div>
						</div>
					</div>
					<p tabindex="0" class="focus:outline-none mt-1.5 text-xs leading-3 text-gray-500">Total Comments For All Articles</p>
				</div>
			</div>
		</div>
	</div>

    <div class="w-full container mx-auto pt-10">
        <div class="flex flex-col items-center py-12">
            <span class="font-bold text-gray-800 uppercase hover:text-gray-700 text-3xl">Recent Published Articles</span>
            <p class="text-lg text-gray-600">List of your recently published articles.</p>
        </div>
    </div>

    <div class="container mx-auto w-full sm:px-6">
        <div class="px-4 md:px-10 py-4 md:py-7 bg-gray-100 dark:bg-gray-700 rounded-tl-lg rounded-tr-lg">
            <div class="sm:flex items-center justify-between">
                <p tabindex="0" class="focus:outline-none text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-800 dark:text-white ">Recent Published Articles</p>
                <div>
                    <button class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 inline-flex sm:ml-3 mt-4 sm:mt-0 items-start justify-start px-6 py-3 bg-indigo-700 hover:bg-indigo-600 focus:outline-none rounded">
                        <a href="{% url 'article_write' %}" class="text-sm font-medium leading-none text-white">New Article</a>
                    </button>
                </div>
            </div>
        </div>
        {% if recent_published_articles_list %}
        <div class="bg-white dark:bg-gray-800  shadow px-4 md:px-10 pt-4 md:pt-7 pb-5 overflow-y-auto">
            <table class="w-full whitespace-nowrap">
                <thead>
                    <tr tabindex="0" class="focus:outline-none h-16 w-full text-sm leading-none text-gray-800 dark:text-white ">
                        <th class="font-bold text-left pl-4">Title</th>
                        <th class="font-bold text-left pl-12">Published</th>
                        <th class="font-bold text-left pl-12">Comment</th>
                        <th class="font-bold text-left pl-20">Words</th>
                        <th class="font-bold text-left pl-20">Time read</th>
                    </tr>
                </thead>
                <tbody class="w-full">
                    {% for article in recent_published_articles_list %}
                    <tr tabindex="0" class="focus:outline-none h-20 text-sm leading-none text-gray-800 dark:text-white  bg-white dark:bg-gray-800  hover:bg-gray-100 dark:hover:bg-gray-900  border-b border-t border-gray-100 dark:border-gray-700 ">
                        <td class="pl-4 cursor-pointer">
                            <div class="flex items-center">
                                <div class="w-10 h-10">
                                    <img class="w-full h-full" src="{{ article.featured_image_url }}" alt="UX Design and Visual Strategy" />
                                </div>
                                <div class="pl-4">
                                    <p class="font-medium"><a href="{{ article.get_absolute_url }}">{{ article.title|truncatechars:60 }}</a></p>
                                </div>
                            </div>
                        </td>
                        <td class="pl-12">
                            <p class="font-medium leading-none text-gray-800 dark:text-white "> {{ article.date_published|timesince|upto:',' }} ago </p>
                        </td>
                        <td class="pl-12">
                            <p class="font-medium">{{ article.comments.count }} comment{{ article.comments.count|pluralize }}</p>
                        </td>
                        <td class="pl-20">
                            <p class="font-medium">{{ article.count_words }} word{{ article.count_words|pluralize }}</p>
                        </td>
                        <td class="pl-20">
                            <p class="font-medium">{{ article.read_time }} min{{ article.read_time|pluralize }} read</p>
                        </td>
                        <td class="pl-10">
                            <a href="{% url 'article_update' slug=article.slug %}" class="focus:ring-2 focus:ring-offset-2 focus:ring-green-600 focus:outline-none transition duration-150 ease-in-out hover:bg-green-600 bg-green-700 rounded text-white px-4 sm:px-8 py-2 text-xs sm:text-sm">Edit</a>
                        </td>
                        <td>
                            <a href="{% url 'article_delete' slug=article.slug %}" class="focus:ring-2 focus:ring-offset-2 focus:ring-red-600 focus:outline-none transition duration-150 ease-in-out hover:bg-red-600 bg-red-700 rounded text-white px-4 sm:px-8 py-2 text-xs sm:text-sm">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <center>
            <div class="alert alert-info"><b>No Published Articles</b></div>
        </center>
        {% endif %}
    </div>
</div>

{% endblock content %}
