{% extends 'base.html' %}
{% block title %} Đăng nhập {% endblock %}
{% block content %}

<div class="container py-4 py-lg-5 my-4">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <h2 class="h3 mb-4">Forgot your password?</h2>
            <p class="fs-md">Change your password in three easy steps. This helps to keep your new password secure.</p>
            <ol class="list-unstyled fs-md">
                <li><span class="text-primary me-2">1.</span>Fill in your email address below.</li>
                <li><span class="text-primary me-2">2.</span>We'll email you a link</li>
                <li><span class="text-primary me-2">3.</span>Click the link to change your password on our secure website.</li>
            </ol>
            <div class="card py-2 mt-4">
                {% include 'includes/alerts.html' %}
                <form class="card-body needs-validation" action="{% url 'password_reset' %}" method="POST" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="recover-email">Enter your email address</label>
                        <input class="form-control" type="email" id="recover-email" name="email" required>
                        <div class="invalid-feedback">Please provide valid email address.</div>
                    </div>
                    <div class="form-group mb-3">
                        <a href="{% url 'login' %}">Got password? Login</a>
                    </div>
                    <button class="btn btn-primary" type="submit">Set new password</button>
                </form>
            </div>
            <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
        </div>
    </div>
</div>

{% endblock %}


