{% extends 'base.html' %}
{% block title %} Đặt lại mật khẩu {% endblock %}
{% block content %}

<div class="container py-4 py-lg-5 my-4">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <h2 class="h3 mb-4">Reset Password</h2>
            <div class="card py-2 mt-4">
                {% include 'includes/alerts.html' %}
                <p>We have sended you reset password link on your email. Please Check Your Email.</p>
                <p class="text-center mt-4">Don't have account? <a href="{% url 'login' %}">Back to Login Page</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}