{% extends 'base.html' %} {% block content %}

<div class="container py-4 py-lg-5 my-4">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <h2 class="h3 mb-4">Reset Password</h2>
            <div class="card py-2 mt-4">
                {% include 'includes/alerts.html' %}
                <h5 class="mx-auto my-2">Enter your new password</h5>
                <form class="card-body needs-validation" action="" method="POST" novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                    {% comment %} <div class="mb-3">
                        <label class="form-label" for="recover-email">Mật khẩu mới:</label>
                        <input class="form-control" type="email" id="recover-email" name="password" required>
                        <div class="invalid-feedback">Please provide valid password.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="recover-email">Xác nhận mật khẩu mới:</label>
                        <input class="form-control" type="email" id="recover-email" name="confirm_password" required>
                        <div class="invalid-feedback">Please provide valid password.</div>
                    </div> {% endcomment %}
                    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit">Reset Password</button>
                </form>
            </div>
            <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
        </div>
    </div>
</div>

{% endblock %}