{% extends 'base.html' %}

{% block content %}

<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="{% url 'post' %}"><i class="ci-home"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap"><a href="#">Account</a></li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Edit Profile</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Edit Profile</h1>
        </div>
    </div>
</div>
{% include 'includes/alerts.html' %}
<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        {% include 'includes/dashboard_sidebar.html' %}
        <!-- Content  -->
        <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
            <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
                <h1 class="h3 mb-4 pt-2 text-center text-sm-start">Profile Settings</h1>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form}}
                    {% comment %} <div class="row gy-3 mb-4 pb-md-3 mb-2">
                        <div class="col-sm-6">
                            <label class="form-label" for="profile-first_name">First name</label>
                            <input class="form-control" id="profile-first_name" name="first_name" maxlength="50" type="text" value="{{profile.user.first_name}}" required>
                            <!-- {{form.first_name}} -->
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="profile-last_name">Last name</label>
                            <input class="form-control" id="profile-last_name" name="last_name" maxlength="50" type="text" value="{{profile.user.last_name}}" required>
                            <!-- {{form.last_name}} -->
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="profile-username">Username</label>
                            <div class="input-group">
                                <span class="input-group-text">@</span>
                                <input class="form-control" id="profile-username" type="text" value="{{profile.user.username}}" readonly>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="profile-email">Email</label>
                            <input class="form-control" id="profile-email" type="email" value="{{profile.user.email}}" readonly>
                        </div>

                        <div>
                            <label class="form-label" for="id_avatar">Avatar</label>
                            <br>
                            {{form.avatar}}
                        </div>

                        <div class="col-sm-6">
                            <label class="form-label" for="profile-gender">Gender</label>{{form.gender}}
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="profile-birthday">Birthday</label>{{form.birthday}}
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="profile-address">Address</label>{{form.address}}
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="profile-bio">Short bio</label>
                            <textarea class="form-control" id="profile-bio" rows="5" value="{{profile.biography}}" required name="biography">{{profile.biography}}</textarea>
                            <span class="form-text">0 of 500 characters used.</span>
                        </div>
                    </div>
                    <h3 class="h5 mb-3">Social media profiles</h3>
                    <div class="row gy-3 mb-4 pb-2">
                        <div class="col-sm-6">
                            <label class="form-label" for="profile-website">Website</label>{{form.website_url}}
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="profile-twitter">Twitter</label>{{form.twitter_url}}
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="profile-facebook">Facebook</label>{{form.facebook_url}}
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="profile-instagram">Instagram</label>{{form.instagram_url}}
                        </div>
                    </div> {% endcomment %}
                    <!-- Submit-->
                    <div class="d-flex flex-sm-row flex-column">
                        <button class="btn btn-accent" type="submit">Update profile</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>


{% endblock content %}