{% extends 'base.html' %}
{% block title %} Đăng nhập {% endblock %}
{% block content %}

{% if request.GET.command == 'verification' %}

<div class="container mx-auto alert alert-info text-center" role="alert" style="max-width: 1024px; margin-top:100px;">
    Thank you for registering with us. We have sent you a verification email to your email address [{{ request.GET.email }}]
    <br><br> Already verified? <a href="{% url 'login' %}">Login</a>
</div>

{% else %}
<div class="container">
    <div class="row my-5">
        <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
            <div class="p-4 p-sm-5 bg-secondary badge-shadow rounded">
                <h2>Log in to your account</h2>
                {% include 'includes/alerts.html' %}
                <form class="needs-validation mt-4" action="{% url 'login' %}" method="POST" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                    <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                    {{ field }}
                    {% endfor %}
                    <div class="mb-3 form-check">
                        <div class="float-end">
                            <small><a href="{% url 'password_reset' %}">Quên mật khẩu?</a></small>
                        </div>
                        <div>
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label">Keep me signed in</label>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-success">Sign me in</button>
                        </div>
                        <div class="col-sm-8 text-sm-end">
                            <span>Don't have an account? <a href="{% url 'register' %}"><u>Sign up</u></a></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}