{% extends 'base.html' %}

{% block title %} Hồ sơ {% endblock title %}

{% block content %} 


<div class="container mb-5 pb-3 my-5">
    <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row">
            <!-- Sidebar-->
            <aside class="col-lg-4 pe-xl-5 mt-3">
                <!-- Actual menu-->
                <div class="h-100 border-end mb-2">
                    <div class="text-center">
                        <img src="{{ profile.get_avatar }}" class="d-inline-block rounded-circle mb-3" width="55%" alt="{{profile.user.get_full_name}}">
                        <h6 class="pt-1 mb-1">{{profile.user.get_full_name}}</h6>
                        <p>@{{profile.user.username}}</p>
                        <p class="fs-sm text-muted">Joined {{profile.created_at}}</p>
                        <a href="{{profile.website_url}}" class="btn-social bs-youtube bs-outline mx-2 mb-2"><i class="ci-youtube"></i></a>
                        <a href="{{profile.facebook_url}}" class="btn-social bs-facebook bs-outline mx-2 mb-2"><i class="ci-facebook"></i></a>
                        <a href="{{profile.instagram_url}}" class="btn-social bs-instagram bs-outline mx-2 mb-2"><i class="ci-instagram"></i></a>
                        <a href="{{profile.twitter_url}}" class="btn-social bs-twitter bs-outline mx-2 mb-2"><i class="ci-twitter"></i></a>
                    </div>
                </div>
            </aside>
            <!-- Content-->
            <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
                <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
                    <h3 class="me-2">Tiểu sử</h3>
                    <div class="bg-secondary rounded-3 p-4 mb-4 text-center text-sm-start">
                        <div class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center">
                            <div class="ms-n2 ps-sm-4">
                                <p>{{profile.biography}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <h6>Giới tính</h6>
                            {{profile.gender}}
                        </div>
                        <div class="col-lg-4">
                            <h6>Địa chỉ</h6>
                            <p>{{profile.address}}</p>
                        </div>
                        <div class="col-lg-4">
                            <h6>Ngày sinh</h6>
                            <p>{{profile.birthday}}</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


{% endblock content %}
