@font-face {
	font-family: "finder-icons";
	src: url("../fonts/icons.ttf") format("truetype"),
		url("../fonts/icons.woff") format("woff"),
		url("../fonts/icons.svg") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
[class^="fi-"],
[class*=" fi-"] {
	display: inline-block;
	font-family: "finder-icons" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
}


.fi-airbnb:before {
	content: "";
}
.fi-behance:before {
	content: "";
}
.fi-dribbble:before {
	content: "";
}
.fi-dropbox:before {
	content: "";
}
.fi-facebook-square:before {
	content: "";
}
.fi-facebook:before {
	content: "";
}
.fi-foursquare:before {
	content: "";
}
.fi-github:before {
	content: "";
}
.fi-google-drive:before {
	content: "";
}
.fi-google-play:before {
	content: "";
}
.fi-google:before {
	content: "";
}
.fi-hangouts:before {
	content: "";
}
.fi-instagram:before {
	content: "";
}
.fi-linkedin:before {
	content: "";
}
.fi-medium:before {
	content: "";
}
.fi-messenger:before {
	content: "";
}
.fi-odnoklassniki:before {
	content: "";
}
.fi-paypal:before {
	content: "";
}
.fi-pinterest:before {
	content: "";
}
.fi-rss:before {
	content: "";
}
.fi-skype:before {
	content: "";
}
.fi-slack:before {
	content: "";
}
.fi-snapchat:before {
	content: "";
}
.fi-soundcloud:before {
	content: "";
}
.fi-telegram-circle:before {
	content: "";
}
.fi-telegram:before {
	content: "";
}
.fi-tumblr:before {
	content: "";
}
.fi-twitch:before {
	content: "";
}
.fi-twitter:before {
	content: "";
}
.fi-viber:before {
	content: "";
}
.fi-vimeo:before {
	content: "";
}
.fi-vk:before {
	content: "";
}
.fi-wechat:before {
	content: "";
}
.fi-whatsapp:before {
	content: "";
}
.fi-youtube:before {
	content: "";
}
.fi-alarm:before {
	content: "";
}
.fi-alert-circle:before {
	content: "";
}
.fi-alert-octagon:before {
	content: "";
}
.fi-alert-triange:before {
	content: "";
}
.fi-align-justify:before {
	content: "";
}
.fi-align-left:before {
	content: "";
}
.fi-align-right:before {
	content: "";
}
.fi-anchor:before {
	content: "";
}
.fi-archive:before {
	content: "";
}
.fi-arrow-back-up:before {
	content: "";
}
.fi-arrow-back:before {
	content: "";
}
.fi-arrow-down:before {
	content: "";
}
.fi-arrow-forward-up:before {
	content: "";
}
.fi-arrow-forward:before {
	content: "";
}
.fi-arrow-left:before {
	content: "";
}
.fi-arrow-long-down:before {
	content: "";
}
.fi-arrow-long-left:before {
	content: "";
}
.fi-arrow-long-right:before {
	content: "";
}
.fi-arrow-long-up:before {
	content: "";
}
.fi-arrow-right:before {
	content: "";
}
.fi-arrow-up:before {
	content: "";
}
.fi-arrows-sort:before {
	content: "";
}
.fi-award:before {
	content: "";
}
.fi-bell-off:before {
	content: "";
}
.fi-bell-on:before {
	content: "";
}
.fi-bell:before {
	content: "";
}
.fi-bookmark-filled:before {
	content: "";
}
.fi-bookmark:before {
	content: "";
}
.fi-briefcase:before {
	content: "";
}
.fi-building:before {
	content: "";
}
.fi-calendar-alt:before {
	content: "";
}
.fi-calendar:before {
	content: "";
}
.fi-camera-plus:before {
	content: "";
}
.fi-car:before {
	content: "";
}
.fi-cart:before {
	content: "";
}
.fi-cash:before {
	content: "";
}
.fi-chat-circle:before {
	content: "";
}
.fi-chat-left:before {
	content: "";
}
.fi-chat-right:before {
	content: "";
}
.fi-check-circle:before {
	content: "";
}
.fi-check:before {
	content: "";
}
.fi-checkbox-checked-alt:before {
	content: "";
}
.fi-checkbox-checked:before {
	content: "";
}
.fi-checkbox:before {
	content: "";
}
.fi-chevron-down:before {
	content: "";
}
.fi-chevron-left:before {
	content: "";
}
.fi-chevron-right:before {
	content: "";
}
.fi-chevron-up:before {
	content: "";
}
.fi-chevrons-left:before {
	content: "";
}
.fi-chevrons-right:before {
	content: "";
}
.fi-clock:before {
	content: "";
}
.fi-cloud-download:before {
	content: "";
}
.fi-cloud-upload:before {
	content: "";
}
.fi-corner-down-left:before {
	content: "";
}
.fi-corner-down-right:before {
	content: "";
}
.fi-corner-left-down:before {
	content: "";
}
.fi-corner-left-up:before {
	content: "";
}
.fi-corner-right-down:before {
	content: "";
}
.fi-corner-right-up:before {
	content: "";
}
.fi-corner-up-left:before {
	content: "";
}
.fi-corner-up-right:before {
	content: "";
}
.fi-credit-card-off:before {
	content: "";
}
.fi-credit-card:before {
	content: "";
}
.fi-cup:before {
	content: "";
}
.fi-dashboard:before {
	content: "";
}
.fi-device-desktop:before {
	content: "";
}
.fi-device-laptop:before {
	content: "";
}
.fi-device-mobile:before {
	content: "";
}
.fi-device-tablet:before {
	content: "";
}
.fi-dislike:before {
	content: "";
}
.fi-dots-horisontal:before {
	content: "";
}
.fi-dots-vertical:before {
	content: "";
}
.fi-download-file:before {
	content: "";
}
.fi-download:before {
	content: "";
}
.fi-edit:before {
	content: "";
}
.fi-expand:before {
	content: "";
}
.fi-external-link:before {
	content: "";
}
.fi-eye-off:before {
	content: "";
}
.fi-eye-on:before {
	content: "";
}
.fi-file-clean:before {
	content: "";
}
.fi-file:before {
	content: "";
}
.fi-filter-alt-horizontal:before {
	content: "";
}
.fi-filter-alt-vertical:before {
	content: "";
}
.fi-filter-off:before {
	content: "";
}
.fi-filter:before {
	content: "";
}
.fi-flag:before {
	content: "";
}
.fi-flame:before {
	content: "";
}
.fi-folder-minus:before {
	content: "";
}
.fi-folder-off:before {
	content: "";
}
.fi-folder-plus:before {
	content: "";
}
.fi-folder-x:before {
	content: "";
}
.fi-folder:before {
	content: "";
}
.fi-folders:before {
	content: "";
}
.fi-footer:before {
	content: "";
}
.fi-friends:before {
	content: "";
}
.fi-geo:before {
	content: "";
}
.fi-gift:before {
	content: "";
}
.fi-glass:before {
	content: "";
}
.fi-globe:before {
	content: "";
}
.fi-grid:before {
	content: "";
}
.fi-header:before {
	content: "";
}
.fi-heart-filled:before {
	content: "";
}
.fi-heart:before {
	content: "";
}
.fi-help:before {
	content: "";
}
.fi-home:before {
	content: "";
}
.fi-image:before {
	content: "";
}
.fi-info-circle:before {
	content: "";
}
.fi-info-square:before {
	content: "";
}
.fi-layers:before {
	content: "";
}
.fi-like:before {
	content: "";
}
.fi-link:before {
	content: "";
}
.fi-list:before {
	content: "";
}
.fi-lock:before {
	content: "";
}
.fi-login:before {
	content: "";
}
.fi-logout:before {
	content: "";
}
.fi-mail:before {
	content: "";
}
.fi-man:before {
	content: "";
}
.fi-map-pin:before {
	content: "";
}
.fi-map-pins:before {
	content: "";
}
.fi-map:before {
	content: "";
}
.fi-microphone:before {
	content: "";
}
.fi-minus-circle:before {
	content: "";
}
.fi-minus-square:before {
	content: "";
}
.fi-minus:before {
	content: "";
}
.fi-music:before {
	content: "";
}
.fi-paperclip:before {
	content: "";
}
.fi-pencil:before {
	content: "";
}
.fi-phone:before {
	content: "";
}
.fi-pinned:before {
	content: "";
}
.fi-plane:before {
	content: "";
}
.fi-play-circle:before {
	content: "";
}
.fi-play-filled:before {
	content: "";
}
.fi-play:before {
	content: "";
}
.fi-plus-circle:before {
	content: "";
}
.fi-plus-square:before {
	content: "";
}
.fi-plus:before {
	content: "";
}
.fi-power:before {
	content: "";
}
.fi-refresh:before {
	content: "";
}
.fi-reply:before {
	content: "";
}
.fi-rotate-left:before {
	content: "";
}
.fi-rotate-right:before {
	content: "";
}
.fi-route:before {
	content: "";
}
.fi-search:before {
	content: "";
}
.fi-send:before {
	content: "";
}
.fi-settings:before {
	content: "";
}
.fi-share:before {
	content: "";
}
.fi-sidebar-left:before {
	content: "";
}
.fi-sidebar-right:before {
	content: "";
}
.fi-star-filled:before {
	content: "";
}
.fi-star-half:before {
	content: "";
}
.fi-star:before {
	content: "";
}
.fi-switch-horizontal:before {
	content: "";
}
.fi-switch-vertical:before {
	content: "";
}
.fi-ticket:before {
	content: "";
}
.fi-trash:before {
	content: "";
}
.fi-truck:before {
	content: "";
}
.fi-unlock:before {
	content: "";
}
.fi-upload-file:before {
	content: "";
}
.fi-upload:before {
	content: "";
}
.fi-user-check:before {
	content: "";
}
.fi-user-minus:before {
	content: "";
}
.fi-user-plus:before {
	content: "";
}
.fi-user-x:before {
	content: "";
}
.fi-user:before {
	content: "";
}
.fi-users:before {
	content: "";
}
.fi-video-off:before {
	content: "";
}
.fi-video:before {
	content: "";
}
.fi-wallet:before {
	content: "";
}
.fi-woman:before {
	content: "";
}
.fi-x-circle:before {
	content: "";
}
.fi-x-square:before {
	content: "";
}
.fi-x:before {
	content: "";
}
.fi-zoom-in:before {
	content: "";
}
.fi-zoom-out:before {
	content: "";
}
.fi-accounting:before {
	content: "";
}
.fi-apartment:before {
	content: "";
}
.fi-bath:before {
	content: "";
}
.fi-bed:before {
	content: "";
}
.fi-billboard-house:before {
	content: "";
}
.fi-cafe:before {
	content: "";
}
.fi-calculator:before {
	content: "";
}
.fi-cctv:before {
	content: "";
}
.fi-cocktail:before {
	content: "";
}
.fi-computer:before {
	content: "";
}
.fi-disco-ball:before {
	content: "";
}
.fi-dish:before {
	content: "";
}
.fi-double-bed:before {
	content: "";
}
.fi-dumbell:before {
	content: "";
}
.fi-entertainment:before {
	content: "";
}
.fi-gearbox:before {
	content: "";
}
.fi-hotel-bell:before {
	content: "";
}
.fi-house-chosen:before {
	content: "";
}
.fi-iron:before {
	content: "";
}
.fi-laundry:before {
	content: "";
}
.fi-makeup:before {
	content: "";
}
.fi-meds:before {
	content: "";
}
.fi-museum:before {
	content: "";
}
.fi-no-smoke:before {
	content: "";
}
.fi-parking:before {
	content: "";
}
.fi-pet:before {
	content: "";
}
.fi-petrol:before {
	content: "";
}
.fi-pie-chart:before {
	content: "";
}
.fi-plant:before {
	content: "";
}
.fi-real-estate-buy:before {
	content: "";
}
.fi-real-estate-house:before {
	content: "";
}
.fi-rent:before {
	content: "";
}
.fi-security:before {
	content: "";
}
.fi-shop:before {
	content: "";
}
.fi-shopping-bag:before {
	content: "";
}
.fi-single-bed:before {
	content: "";
}
.fi-snowflake:before {
	content: "";
}
.fi-spa:before {
	content: "";
}
.fi-swimming-pool:before {
	content: "";
}
.fi-thermometer:before {
	content: "";
}
.fi-tv:before {
	content: "";
}
.fi-wifi:before {
	content: "";
}
.fi-quote:before {
	content: "";
}
.fi-xing:before {
	content: "";
}
.fi-discord:before {
	content: "";
}
.fi-tiktok:before {
	content: "";
}
.fi-education:before {
	content: "";
}
.fi-code:before {
	content: "";
}