{% block messages %}
<div class="row">
    <div class="col-md-12">
        {% if messages %} {% for message in messages %}
        <div
            class="text-center font-weight-bold alert alert-dismissible fade show
                            {% if message.level_tag == 'error' %}
                            alert-danger
                            {% else %}
                            alert-{{ message.tags }}
                            {% endif %}">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %} {% endif %}
    </div>
</div>
{% endblock messages %} {% block content %} {% endblock content %}