{% if messages %}
{% for message in messages %}
<div role="alert" id="alert" class="flex items-center justify-center px-4 sm:px-0">
    <div class="lg:w-10/12 transition duration-150 ease-in-out bg-yellow-100 shadow rounded-md md:flex justify-between items-center top-0 mt-12 mb-8 py-4 px-4">
        <div class="sm:flex items-center">
            <div class="h-1 w-1 rounded-full mr-2 hidden xl:block"></div>
            <p class="text-base text-center {% if message.tags %}{{ message.tags }}{% endif %} font-bold">
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}{{ message }}
            </p>
        </div>
        <div class="flex justify-end mt-4 md:mt-0 md:pl-4 lg:pl-0">
            <button onclick="closeAlert()" class="focus:outline-none focus:text-purple-600 hover:text-gray-400 text-sm cursor-pointer text-gray-600">Dismiss</button>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
<script>
    // Alert
    const alert_messages = document.getElementById('alert');
    alert_messages.style.transform = 'block';
    function closeAlert(){
        alert_messages.style.display = "none"
    }
</script>