
<div class="row">
    <div class="col-md-12">
        {% if messages %} {% for message in messages %}
        <div
            class="text-center font-weight-bold alert alert-dismissible fade show
                            {% if message.level_tag == 'error' %}
                            alert-danger
                            {% else %}
                            alert-{{ message.tags }}
                            {% endif %}">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %} {% endif %}
    </div>
</div>




{% block messages %}
{% if messages %}
{% for message in messages %}
<div class="container mx-auto flex items-center justify-center px-4">
    <div role="alert" id="alert" class="transition duration-150 ease-in-out w-full lg:w-11/12 mx-auto bg-white dark:bg-gray-800 shadow rounded flex flex-col py-4 md:py-0 items-center md:flex-row justify-between">
        <div class="flex flex-col items-center md:flex-row">

            <div class="mr-3 p-4 {% if message.level_tag == 'error' %} bg-red-500{% elif message.level_tag == 'warn' %} bg-yellow-400{% else %} bg-green-500{% endif %} rounded md:rounded-tr-none md:rounded-br-none text-white">
                <img class="focus:outline-none" src="{% static 'images/warning.svg' %}" alt="warning" />
            </div>
            
            <p class="mr-2 text-base font-bold text-gray-800 dark:text-gray-100 mt-2 md:my-0"> {% if message.level_tag == 'error' %}Error{% elif message.level_tag == 'warn' %}Warning{% else %}Successful{% endif %}</p>
            <div class="h-1 w-1 bg-gray-300 dark:bg-gray-700 rounded-full mr-2 hidden xl:block"></div>
            <p class="text-sm lg:text-base dark:text-gray-400 text-gray-600 lg:pt-1 xl:pt-0 sm:mb-0 mb-2 text-center sm:text-left">{{ message }}</p>
        </div>
        <div class="flex xl:items-center lg:items-center sm:justify-end justify-center pr-4">
            <button class="focus:outline-none focus:text-indigo-400 hover:text-indigo-400 text-sm mr-4 font-bold cursor-pointer text-indigo-700 dark:text-indigo-600">Details</button>
            <button class="focus:outline-none focus:text-gray-400 hover:text-gray-400 text-sm cursor-pointer text-gray-600 dark:text-gray-400" onclick="closeAlert()">Dismiss</button>
        </div>
    </div>
</div>
{% endfor %} 
{% endif %}
<script>
    // Alert
var Alert = document.getElementById('alert');
var close = document.getElementById('close-modal');
Alert.style.transform = 'translateY(0%)';
function closeAlert() {
	Alert.style.transform = 'translateY(-200%)';
	setTimeout(function () {
		Alert.style.transform = 'translateY(0%)';
	}, 1000);
}
</script>
{% endblock messages %}
