{% load static %}
<!-- Footer-->
<footer class="footer bg-dark pt-5">
	<div class="container">
		<div class="row pb-2">
			<div class="col-md-6 text-center text-md-start mb-4">
				<div class="text-nowrap mb-4">
                    <a class="d-inline-block align-middle mt-n1 me-3" href="/"><img class="d-block" src="{% static 'img/logo-light.jpg' %}" width="117" alt="Hoang Gioi"></a>
					<div class="btn-group dropdown disable-autohide">
						<button class="btn btn-outline-light border-light btn-sm dropdown-toggle px-2" type="button" data-bs-toggle="dropdown"><img class="me-2" src="{% static 'img/vn.gif' %}" width="18" alt="Vietnamese">Vietnamese </button>
						<ul class="dropdown-menu my-1">
							<li><a class="dropdown-item pb-1" href="#"><img class="me-2" src="{% static 'img/vn.gif' %}" width="18" alt="Vietnamese">Vietnamese</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6 text-center text-md-end mb-4">
				<div class="mb-3">
                    <a class="btn-social bs-light bs-facebook ms-2 mb-2" href="https://www.facebook.com/hoanggioi.2803"><i class="fi-facebook"></i></a>
                    <a class="btn-social bs-light bs-instagram ms-2 mb-2" href="https://www.instagram.com/gioihoang3082/"><i class="fi-instagram"></i></a>
                    <a class="btn-social bs-light bs-github ms-2 mb-2" href="https://github.com/gioitube"><i class="fi-github"></i></a>
                    <a class="btn-social bs-light bs-youtube ms-2 mb-2" href="https://www.youtube.com/channel/UCVHLjBAHx6SBkX3qDJ0qRcg"><i class="fi-youtube"></i></a>
                </div>
			</div>
		</div>
		<div class="pb-4 fs-xs text-light align-items-center align-content-center justify-content-center opacity-50 text-center text-md-start">© All rights reserved. Made by <a class="text-light" href="https://www.facebook.com/hoanggioi.2803" target="_blank" rel="noopener">Hoang Van Gioi</a></div>
	</div>
</footer>