{% load static %}
<footer class="relative z-10 bg-black pt-11 lg:pt-[20px] lg:pb-2">
	<div class="container">
		<div class="-mx-4 flex flex-wrap">
			<div class="w-full px-4 sm:w-2/3 lg:w-3/12">
				<div class="mb-10 w-full">
					<a href="/" class="mb-6 inline-block max-w-[160px]">
						<img src="{% static 'img/logo/logo.svg' %}" alt="logo" class="max-w-full" />
					</a>
					<p class="mb-7 text-base text-white">Sed ut perspiciatis undmnis is iste natus error sit amet voluptatem totam rem aperiam.</p>
				</div>
			</div>
			<div class="w-full px-4 sm:w-1/2 lg:w-2/12">
				<div class="mb-10 w-full">
					<h4 class="mb-9 text-lg font-semibold text-white">Company</h4>
					<ul>
						<li><a href="" class="mb-2 inline-block text-base leading-loose text-white hover:text-primary"> About </a></li>
						<li><a href="" class="mb-2 inline-block text-base leading-loose text-white hover:text-primary"> Contact & Support </a></li>
						<li><a href="" class="mb-2 inline-block text-base leading-loose text-white hover:text-primary"> Setting & Privacy </a></li>
					</ul>
				</div>
			</div>
			<div class="w-full px-4 sm:w-1/2 lg:w-2/12">
				<div class="mb-10 w-full">
					<h4 class="mb-9 text-lg font-semibold text-white">Quick Links</h4>
					<ul>
						<li><a href="" class="mb-2 inline-block text-base leading-loose text-white hover:text-primary"> Trang chủ </a></li>
						<li><a href="" class="mb-2 inline-block text-base leading-loose text-white hover:text-primary"> Blog </a></li>
						<li><a href="" class="mb-2 inline-block text-base leading-loose text-white hover:text-primary"> Support </a></li>
					</ul>
				</div>
			</div>
			<div class="w-full px-4 sm:w-1/2 lg:w-2/12">
				<div class="mb-10 w-full">
					<h4 class="mb-9 text-lg font-semibold text-white">Licensed</h4>
					<p class="flex items-center text-sm font-medium text-white">
						<span
							><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width: 0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</span
						>
					</p>
				</div>
			</div>
			<div class="w-full px-4 sm:w-1/2 lg:w-3/12">
				<div class="mb-10 w-full">
					<h4 class="mb-9 text-lg font-semibold text-white">Follow Us On</h4>
					<div class="mb-6 flex items-center">
						<div class="gap-4">
							<button class="bg-white duration-500 border-2 w-12 transform hover:-translate-y-3 h-12 text-2xl rounded-full hover:bg-blue-600 hover:text-white text-blue-600">
								<a href="https://www.facebook.com/hoanggioi.2803" title="Facebook" target="_blank"><i class="icon-facebook"></i></a>
							</button>
							<button class="bg-white border-2 bg-gradient-to-b text-2xl hover:from-indigo-600 hover:via-pink-600 hover:to-yellow-500 min-w-wull hover:text-white text-pink-600 w-12 h-12  transform hover:-translate-y-3 rounded-full duration-500 ">
								<a title="Instagram" href="https://www.instagram.com/gioihoang3082/" target="_blank"><i class="icon-instagram"></i></a>
							</button>
							<button class="bg-white transform hover:-translate-y-3  border-2 w-12 h-12 rounded-full duration-500 text-red-500 hover:bg-red-500 hover:text-white text-2xl">
								<a title="Youtube" href="https://www.youtube.com/channel/UCVHLjBAHx6SBkX3qDJ0qRcg" target="_blank"><i class="icon-youtube"></i></a>
							</button>
							<button class="bg-white transform hover:-translate-y-3 border-2 w-12 h-12 rounded-full duration-500 text-gray-500 hover:bg-black hover:text-white text-2xl">
								<a title="Github" href="https://github.com/hoangvangioi" target="_blank"><i class="icon-github"></i></a>
							</button>
						</div>
					</div>
					<p class="text-base text-white">&copy; 2022 Hoang Van Gioi</p>
				</div>
			</div>
		</div>
	</div>
</footer>