<!-- Footer-->
<footer class="footer bg-dark pt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mb-4">				
				<div class="pb-4 fs-xs text-light opacity-50 text-center">© All rights reserved. Made by <a class="text-light" href="https://www.facebook.com/hoanggioi.2803" target="_blank" rel="noopener">Hoang Van Gioi</a></div>
			</div>
			<div class="col-md-6 mb-4">
				<div class="mb-3 text-center">
                    <a class="btn-social bs-light bs-facebook ms-2 mb-2" href="https://www.facebook.com/hoanggioi.2803"><i class="fi-facebook"></i></a>
                    <a class="btn-social bs-light bs-instagram ms-2 mb-2" href="https://www.instagram.com/gioihoang3082/"><i class="fi-instagram"></i></a>
                    <a class="btn-social bs-light bs-github ms-2 mb-2" href="https://github.com/hoangvangioi"><i class="fi-github"></i></a>
                    <a class="btn-social bs-light bs-youtube ms-2 mb-2" href="https://www.youtube.com/channel/UCVHLjBAHx6SBkX3qDJ0qRcg"><i class="fi-youtube"></i></a>
                </div>
			</div>
		</div>
	</div>
</footer>