{% load static %} 

<!-- Navbar Section -->
<div class="ud-header bg-transparent absolute top-0 left-0 z-40 w-full flex items-center">
	<div class="container">
		<div class="flex -mx-4 items-center justify-between relative">
			<div class="px-4 w-60 max-w-full">
				<a href="{% url 'index' %}" class="navbar-logo w-full block py-5">
					<img src="{% static 'img/logo/logo.svg' %}" alt="logo" class="w-full header-logo" />
				</a>
			</div>
			<div class="flex px-4 justify-between items-center w-full">
				<div>
					<button id="navbarToggler" class="block absolute right-4 top-1/2 -translate-y-1/2 lg:hidden focus:ring-2 ring-primary px-3 py-[6px] rounded-lg">
						<span class="relative w-[30px] h-[2px] my-[6px] block bg-white"></span>
						<span class="relative w-[30px] h-[2px] my-[6px] block bg-white"></span>
						<span class="relative w-[30px] h-[2px] my-[6px] block bg-white"></span>
					</button>
					<nav id="navbarCollapse" class="absolute py-5 lg:py-0 lg:px-4 xl:px-6 bg-white lg:bg-transparent shadow-lg rounded-lg max-w-[250px] w-full lg:max-w-full lg:w-full right-4 top-full hidden lg:block lg:static lg:shadow-none">
						<ul class="blcok lg:flex">
							<li class="relative group">
								<a href="{% url 'index' %}" class="ud-menu-scroll text-base text-dark lg:text-white lg:group-hover:opacity-70 lg:group-hover:text-white group-hover:text-primary py-2 lg:py-6 lg:inline-flex lg:px-0 flex mx-8 lg:mr-0"> Home </a>
							</li>
							<li class="relative group">
								<a href="{% url 'post' %}" class="ud-menu-scroll text-base text-dark lg:text-white lg:group-hover:opacity-70 lg:group-hover:text-white group-hover:text-primary py-2 lg:py-6 lg:inline-flex lg:px-0 flex mx-8 lg:mr-0 lg:ml-7 xl:ml-12"> Blog </a>
							</li>
							<li class="relative group submenu-item">
								<a href="javascript:void(0)" class="text-base text-dark lg:text-white lg:group-hover:opacity-70 lg:group-hover:text-white group-hover:text-primary py-2 lg:py-6 lg:inline-flex lg:pl-0 lg:pr-4 flex mx-8 lg:mr-0 lg:ml-8 xl:ml-12 relative after:absolute after:w-2 after:h-2 after:border-b-2 after:border-r-2 after:border-current after:rotate-45 lg:after:right-0 after:right-1 after:top-1/2 after:-translate-y-1/2 after:mt-[-2px]"> Pages </a>
								<div class="submenu hidden relative lg:absolute w-[250px] top-full lg:top-[110%] left-0 rounded-sm lg:shadow-lg p-4 lg:block lg:opacity-0 lg:invisible group-hover:opacity-100 lg:group-hover:visible lg:group-hover:top-full bg-white transition-[top] duration-300">
									<a href="about.html" class="block text-sm text-body-color rounded hover:text-primary py-[10px] px-4"> About Page </a>
									<a href="blog-grids.html" class="block text-sm text-body-color rounded hover:text-primary py-[10px] px-4"> Blog Grid Page </a>
								</div>
							</li>
                            {% if user.is_superuser %}
                            <li class="relative group submenu-item">
								<a href="javascript:void(0)" class="text-base text-dark lg:text-white lg:group-hover:opacity-70 lg:group-hover:text-white group-hover:text-primary py-2 lg:py-6 lg:inline-flex lg:pl-0 lg:pr-4 flex mx-8 lg:mr-0 lg:ml-8 xl:ml-12 relative after:absolute after:w-2 after:h-2 after:border-b-2 after:border-r-2 after:border-current after:rotate-45 lg:after:right-0 after:right-1 after:top-1/2 after:-translate-y-1/2 after:mt-[-2px]"> Admin </a>
								<div class="submenu hidden relative lg:absolute w-[250px] top-full lg:top-[110%] left-0 rounded-sm lg:shadow-lg p-4 lg:block lg:opacity-0 lg:invisible group-hover:opacity-100 lg:group-hover:visible lg:group-hover:top-full bg-white transition-[top] duration-300">
									<a href="{% url 'category_list' %}" class="block text-sm text-body-color rounded hover:text-primary py-[10px] px-4"> Quản lý danh mục </a>
									<a href="{% url 'list_post' %}" class="block text-sm text-body-color rounded hover:text-primary py-[10px] px-4"> Quản lý bài đăng </a>
								</div>
							</li>
                            {% endif %}
						</ul>
					</nav>
				</div>
				<div class="sm:flex justify-end hidden pr-16 lg:pr-0">
                    <!-- Search input on screen -->
                    <div class="mx-10 md:block">
                        <div class="relative">
                            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                                <svg class="w-8 h-8 text-gray-400" viewBox="0 0 24 24" fill="none">
                                    <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </span>
                            <form action="{% url 'search_post' %}">
                                <input type="text" name="keyword" class="w-full py-2 pl-10 pr-4 text-gray-700 bg-white border rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-blue-300" placeholder="   Search">
                            </form>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>