<header class="bg-light shadow-sm navbar-sticky">
	<div class="navbar navbar-expand-lg navbar-light">
		<div class="container"><a class="navbar-brand d-none d-sm-block flex-shrink-0 me-4 order-lg-1" href="{% url 'post' %}"><img src="" width="142" alt="HVG Blog"></a>
            <a class="navbar-brand d-sm-none me-2 order-lg-1" href="{% url 'post' %}"><img src="" width="74" alt="HVG Blog"></a>
			<!-- Toolbar-->
			<div class="navbar-toolbar d-flex align-items-center order-lg-3">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button>
				<a class="navbar-tool d-none d-lg-flex" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#searchBox" role="button" aria-expanded="false" aria-controls="searchBox"><span class="navbar-tool-tooltip">Search</span>
					<div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-search"></i></div></a>
				{% if user.id is None %}
                <div class="navbar-tool dropdown ms-2">
                    <div class="navbar-tool-icon-box">
                        <a class="navbar-tool-icon-box border dropdown-toggle" href="{% url 'login' %}"><i class="navbar-tool-icon ci-user"></i></a>
                    </div>
					<a class="navbar-tool-text ms-n1" href="{% url 'login' %}"><small>Hello, Guest!</small>Account</a>
					<div class="dropdown-menu dropdown-menu-end">
                        <div style="min-width: 14rem;">
                            <h6 class="dropdown-header">Account</h6>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'login' %}"><i class="ci-sign-in opacity-60 me-2"></i>Log in</a>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'register' %}"><i class="ci-add-user opacity-60 me-2"></i>Sign up</a>
                            <div class="dropdown-divider"></div>
                        </div>
					</div>
				</div>
				{% else %}
				<div class="navbar-tool dropdown ms-2"><a class="navbar-tool-icon-box border dropdown-toggle" href="{% url 'profile' user.profile.slug %}">
					<img src="" width="32" alt="{{ user.first_name }}"></a>
					<a class="navbar-tool-text ms-n1" href="{% url 'profile' user.profile.slug %}"><small>Hello {{ user.first_name }}!</small>My Account</a>
					<div class="dropdown-menu dropdown-menu-end">
                        <div style="min-width: 14rem;">
                            <h6 class="dropdown-header">Account</h6>
                            {% comment %} <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' profile.slug %}"><i class="ci-settings opacity-60 me-2"></i>Settings</a> {% endcomment %}
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' user.profile.slug %}"><i class="ci-user opacity-60 me-2"></i>Profile</a>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'edit_profile' user.profile.slug %}"><i class="ci-user opacity-60 me-2"></i>Edit Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}"><i class="ci-sign-out opacity-60 me-2"></i>Sign Out</a>
                        </div>
					</div>
				</div>
				{% endif %}
			</div>
			<div class="collapse navbar-collapse me-auto order-lg-2" id="navbarCollapse">
				<!-- Search-->
				<div class="input-group d-lg-none my-3"><i class="ci-search position-absolute top-50 start-0 translate-middle-y text-muted fs-base ms-3"></i>
					<input class="form-control rounded-start" type="text" placeholder="Search marketplace">
				</div>
				<!-- Categories dropdown-->
				<ul class="navbar-nav navbar-mega-nav pe-lg-2 me-lg-2">
					<li class="nav-item dropdown"><a class="nav-link dropdown-toggle ps-lg-0" href="#" data-bs-toggle="dropdown"><i class="ci-menu align-middle mt-n1 me-2"></i>Categories</a>
						<ul class="dropdown-menu py-1">
							{% for link in links %}
							<li class="dropdown"><a class="dropdown-item" href="{% url 'post_by_category' link.slug %}">{{ link.category }}</a></li>
							{% endfor %}
						</ul>
					</li>
				</ul>
				<!-- Primary menu-->
				<ul class="navbar-nav">
					<li class="nav-item dropdown"><a class="nav-link dropdown-item" href="">Home</a></li>
					<li class="nav-item dropdown"><a class="nav-link dropdown-item" href="">Shop</a></li>
					<li class="nav-item dropdown active"><a class="nav-link dropdown-item" href="">Blog</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Search collapse-->
	<div class="search-box collapse" id="searchBox">
		<div class="card pt-2 pb-4 border-0 rounded-0">
			<div class="container">
				<div class="input-group">
					<i class="ci-search position-absolute top-50 start-0 translate-middle-y text-muted fs-base ms-3"></i>
					<input class="form-control rounded-start" type="text" placeholder="Search marketplace">
				</div>
			</div>
		</div>
	</div>

    {% if user.is_superuser %}
    <div class="navbar navbar-expand-lg navbar-dark bg-accent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'create_post' %}">Tạo bài viết mới</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'create_category' %}">Thêm thể loại mới</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'category_list' %}">Quản lý danh mục</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'list_post' %}">Quản lý bài đăng</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'list_post' %}">Quản lý người dùng</a></li>
        </ul>
    </div>
    {% endif %}


</header>