<aside class="col-lg-4">
    <!-- Sidebar-->
    <div class="offcanvas offcanvas-collapse offcanvas-end border-start ms-lg-auto" id="blog-sidebar" style="max-width: 22rem;">
        <div class="offcanvas-header align-items-center shadow-sm">
            <h2 class="h5 mb-0">Sidebar</h2>
            <button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body py-grid-gutter py-lg-1 px-lg-4" data-simplebar data-simplebar-auto-hide="true">
            <!-- Categories-->
            <div class="widget widget-links mb-grid-gutter pb-grid-gutter border-bottom mx-lg-2">
            <h3 class="widget-title">Blog categories</h3>
            <ul class="widget-list">
                {% for link in links %}
                <li class="widget-list-item"><a class="widget-list-link d-flex justify-content-between align-items-center" href="{% url 'post_by_category' link.slug %}"><span>{{ link.category }}</span><span class="fs-xs text-muted ms-3">18</span></a></li>                
                {{ link.category_count }}
                {% endfor %}
            </ul>
            </div>
            <!-- Latest posts-->
            <div class="widget mb-grid-gutter pb-grid-gutter border-bottom mx-lg-2">
                <h3 class="widget-title">Latest posts</h3>
                {% if most_recent %}
                    {% for post in most_recent %}
                    <div class="d-flex align-items-center mb-3">
                    <a class="flex-shrink-0" href="{{ post.get_absolute_url }}">
                        <img class="rounded" src="{{ post.featured_image.url }}" width="64" alt="Post image">
                    </a>
                        <div class="ps-3">
                        <h6 class="blog-entry-title fs-sm mb-0"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h6><span class="fs-ms text-muted">by <a href='#' class='blog-entry-meta-link'>{{ post.author }}</a></span>
                        </div>
                    </div>
                    {% endfor %}
				{% else %}
					<p>There are no latest posts.</p>
				{% endif %}
            </div>
            <!-- Popular tags-->
            <div class="widget pb-grid-gutter mx-lg-2">
                <h3 class="widget-title">Popular tags</h3>
                {% for tag in all_tag %}
                <a class="btn-tag me-2 mb-2" href="#"># {{ tag }}</a>
                {% endfor %}
            </div>
            <!-- Promo banner-->
            <div class="bg-size-cover bg-position-center rounded-3 py-5 mx-lg-2" style="background-image: url();">
                <div class="py-5 px-4 text-center">
                    <h5 class="mb-2">Your Add Banner Here</h5>
                    <p class="fs-sm text-muted">Hurry up to reserve your spot</p><a class="btn btn-primary btn-shadow btn-sm" href="#">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</aside>