{% extends "base.html" %} {% load i18n %} {% block title %}Contact{% endblock %} {% block content %}

<div class="bg-white dark:bg-gray-800">
	<div class="w-full container mx-auto pt-12"></div>
    <div class="bg-gradient-to-b from-purple-500 to-indigo-600">
        <div class="w-full flex items-center justify-center py-20">
            <div class="bg-white dark:bg-gray-800 shadow rounded py-16 lg:px-28 px-8">
                {% include "includes/alert.html" %}
                <p class="md:text-3xl text-xl font-bold leading-7 text-center text-gray-700 dark:text-white">{% trans 'Contact me here' %}</p>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="md:flex items-center mt-12">
                        <div class="md:w-72 flex flex-col">
                            <label for="{{ form.full_name.auto_id }}" class="text-base font-semibold leading-none text-gray-800 dark:text-white">{{ form.full_name.label }}</label>{{ form.full_name }}
                        </div>
                        <div class="md:w-72 flex flex-col md:ml-6 md:mt-0 mt-4">
                            <label for="{{ form.email.auto_id }}" class="text-base font-semibold leading-none text-gray-800 dark:text-white">{{ form.email.label }}</label>{{ form.email }}
                        </div>
                    </div>
                    <div class="md:flex items-center mt-8">
                        <div class="w-full flex flex-col">
                            <label for="{{ form.subject.auto_id }}" class="text-base font-semibold leading-none text-gray-800 dark:text-white">{{ form.subject.label }}</label>{{ form.subject }}
                        </div>
                    </div>
                    <div>
                        <div class="w-full flex flex-col mt-8">
                            <label for="{{ form.message.auto_id }}" class="text-base font-semibold leading-none text-gray-800 dark:text-white">{{ form.message.label }}</label>{{ form.message }}
                        </div>
                    </div>
                    <p class="text-xs leading-3 text-gray-600 dark:text-gray-200 mt-4">{% trans "By clicking submit you agree to our terms of service, privacy policy and how we use data as stated" %}</p>
                    <div class="flex items-center justify-center w-full">
                        <button class="mt-9 text-base font-semibold leading-none text-white py-4 px-10 bg-indigo-700 rounded hover:bg-indigo-600 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 focus:outline-none">{% trans 'Send message' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}