<!DOCTYPE html> {% load static flatpages pwa %}
<html lang="vi" translate="no">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="{% block keywords %}Share, Code, Document, Ebook, Learnning, Python, JavaScript, HTML, CSS, Django{% endblock keywords %}">
    <meta name="description" content="{% block description %}Nơi lưu trữ những tài liệu, kiến thức mình học được về lập trình và điện tử ....  {% endblock description %}">
    <meta name="author" content="Hoàng Văn Giỏi">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://{{ request.get_host }}{{ request.get_full_path }}" />
    <meta property="og:title" content="{% block meta_title_og %}{% endblock meta_title_og %}">
    <meta property="og:description" content="{% block meta_description_og %}{% endblock meta_description_og %}">
    <meta property="og:image" content="{% block image_meta_og %}{% endblock image_meta_og %}">

    <meta name="twitter:title" content="{% block meta_title_twitter %}{% endblock meta_title_twitter %}">
    <meta name="twitter:description" content="{% block meta_description_twitter %}{% endblock meta_description_twitter %}">
    <meta name="twitter:image" content="{% block image_meta_twitter %}{% endblock image_meta_twitter %}" />
    <meta name="twitter:card" content="summary">

    <link rel="canonical" href="http://{{ request.get_host }}{{ request.get_full_path }}">

    <title>{% block title %} {% endblock %} | Hoàng Giỏi Blog</title>

    <!-- Favicon and Touch Icons-->
    <link rel="shortcut icon" type="image/x-icon" sizes="any" href="{% static 'favicon.ico' %}">
    <link rel="shortcut icon" type="image/svg+xml" sizes="any" href="{% static 'favicon.svg' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="mask-icon" color="#5bbad5" href="{% static 'img/safari-pinned-tab.svg' %}">
    {% progressive_web_app_meta %}
    <meta name="msapplication-config" content="{% static 'browserconfig.xml' %}" />
    <link type="application/json" href="{% static 'budget.json' %}"> {% block style %}{% endblock style %}
    <link rel="stylesheet" href="{% static 'css/tailwind.min.css' %}" />
    {% block stylesheets %}{% endblock stylesheets %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2146269335848308" crossorigin="anonymous"></script>
</head>

<body class="min-h-screen">
    {% include "includes/header.html" %}

    {% block content %} {% endblock content %}

    {% include "includes/footer.html" %}
    <script src="{% static 'js/main.min.js' %}"></script>
    {% block script %}{% endblock script %}
</body>

</html>