<!DOCTYPE html> {% load static %}
<html lang="vi" class="h-full">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Share, Chia sẻ, Code, Lập trình, Tài liệu, Document, Ebook, Learnning, Python, JavaScript, HTML, CSS, Django, {% block keywords %}{% endblock keywords %}">
    <meta name="description" content="Chia sẻ tài liệu, khóa học và tất cả mọi thứ Share, Chia sẻ, Code, Lập trình, Tài liệu, Document, Ebook, Learnning, Python, JavaScript, HTML, CSS, Django, {% block description %}{% endblock description %}">
    <meta name="author" content="Hoang Van Gioi">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://{{ request.get_host }}{{ request.get_full_path }}" />
    <meta property="og:title" content="{% block og %}{% endblock og %}">
    <meta property="og:description" content="{% block description_og %}{% endblock description_og %}">
    <meta property="og:image" content="{{ post.featured_image.url }}">

    <meta name="twitter:title" content="{% block twitter %}{% endblock twitter %}">
    <meta name="twitter:description" content="{% block description_twitter %}{% endblock description_twitter %}">
    <meta name="twitter:image" content="{{ post.featured_image.url }}" />
    <meta name="twitter:card" content="summary">

    <link rel="canonical" href="http://{{ request.get_host }}{{ request.get_full_path }}">

    <title>{% block title %} {% endblock %} | Hoàng Giỏi Blog</title>

    <!-- Favicon and Touch Icons-->
    <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="shortcut icon" type="image/x-icon" sizes="64x64" href="{% static 'favicon.ico' %}">
    <link rel="webmanifest" href="{% static 'site.webmanifest' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="mask-icon" color="#5bbad5" href="{% static 'img/safari-pinned-tab.svg' %}">
    <meta name="msapplication-config" content="{% static 'browserconfig.xml' %}" />
    <meta name="theme-color" content="#ffffff">
    {% if '/' == request.path or category.get_absolute_url == request.path or '/tag/' in request.path %}
    {% elif post.get_absolute_url == request.path %}{% else %}{% endif %}
    <link type="application/json" href="{% static 'budget.json' %}"> {% block style %}{% endblock style %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap"> 
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
    {% if post.get_absolute_url == request.path %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2146269335848308" crossorigin="anonymous"></script>
    {% endif %}
</head>

<body>
    {% include "includes/navbar.html" %} 
    <main> {% block content %} {% endblock content %} </main>
    {% include "includes/footer.html" %}
    <a href="javascript:void(0)" class="hidden items-center justify-center bg-primary text-white w-10 h-10 rounded-md fixed bottom-8 right-8 left-auto z-[999] hover:bg-dark back-to-top shadow-md transition duration-300 ease-in-out">
        <span class="w-3 h-3 border-t border-l border-white rotate-45 mt-[6px]">Top</span>
    </a>
    <!-- Scripts -->
    {% block script %}{% endblock script %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/alpine.min.js' %}"></script>
</body>

</html>