{% load static %}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Share, Chia sẻ, Code, Lập trình, Tài liệu, Document, Ebook, Learnning, Python, JavaScript, HTML, CSS, Django">
    <meta name="description" content="Chia sẻ tài liệu, khóa học và tất cả mọi thứ Share, Chia sẻ, Code, Lập trình, Tài liệu, Document, Ebook, Learnning, Python, JavaScript, HTML, CSS, Django">
    <meta name="author" content="Hoang Van Gioi">
    <meta name="googlebot" content="notranslate" />


    <meta property="og:title" content="Add title here">
    <meta property="og:description" content="Add description here">
    <meta property="og:image" content="https://your-website.com/og-image.png">
    <meta property="og:url" content="https://{{ request.get_host }}{{ request.get_full_path }}">

    <meta name="twitter:title" content="Add title here">
    <meta name="twitter:description" content="Add description here">
    <meta name="twitter:url" content="https://your-website.com/twitter-image.png">
    <meta name="twitter:card" content="summary">

    <link rel="canonical" href="http://{{ request.get_host }}{{ request.get_full_path }}">


    <title>{% block title %} {% endblock %} | Shop Hoàng Giỏi</title>

    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/ico" sizes="16x16" href="{% static 'favicon.ico' %}">
    <link rel="icon" type="image/ico" sizes="32x32" href="{% static 'favicon.ico' %}">
    <link rel="icon" type="image/ico" sizes="64x64" href="{% static 'favicon.ico' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" color="#fe6a6a" href="{% static 'img/safari-pinned-tab.svg' %}">
    <meta name="msapplication-TileColor" content="#ee2bdebb">
    <meta name="theme-color" content="#ee2bdebb">
    
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="{% static 'css/simplebar.min.css' %}" />
    <link rel="stylesheet" media="screen" href="{% static 'css/tiny-slider.css' %}" />
    <link rel="stylesheet" media="screen" href="{% static 'css/lightgallery.min.css' %}" />
    <link rel="stylesheet" media="screen" href="{% static 'css/nouislider.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/loading.css' %}">
    <link rel="stylesheet" media="screen" href="{% static 'css/drift-basic.min.css' %}" />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="{% static 'css/theme.min.css' %}">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KLNMPRF');</script>
    <!-- End Google Tag Manager -->
    
    <!-- Page loading scripts -->
    <script>
        (function() {
            window.onload = function() {
                const preloader = document.querySelector('.page-loading');
                preloader.classList.remove('active');
                setTimeout(function() {
                        preloader.remove();
                }, 200);
            };
        })();
    </script>

    {% if '/' == request.path or post.get_absolute_url == request.path %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2146269335848308"
    crossorigin="anonymous"></script>
    {% endif %}
</head>

<body class="handheld-toolbar-enabled">

    <!-- Page loading spinner -->
    <div class="page-loading active">
        <div class="page-loading-inner">
            <div class="page-spinner"></div><span>Loading...</span>
        </div>
    </div>
    
    {% include "includes/navbar.html" %}
    <main class="page-wrapper">
    {% block content %} {% endblock content %} 
    </main>
    {% include "includes/footer.html" %}
    <!-- Back To Top Button-->
    <a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up"></i></a>

    <!-- Toolbar for handheld devices (Blog)-->
    <div class="handheld-toolbar">
        <div class="d-table table-layout-fixed w-100">
            {% if '/' == request.path or post.get_absolute_url == request.path %}
            <a class="d-table-cell handheld-toolbar-item" href="#" data-bs-toggle="offcanvas" data-bs-target="#blog-sidebar">
            <span class="handheld-toolbar-icon"><i class="ci-sign-in"></i></span>
            <span class="handheld-toolbar-label">Sidebar</span></a>
            {% else %}
            <a class="d-table-cell handheld-toolbar-item" href="https://www.facebook.com/hoanggioi.2803">
            <span class="handheld-toolbar-icon"><i class="ci-chat"></i></span>
            <span class="handheld-toolbar-label">Contact</span></a>
            {% endif %}
            <a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)">
            <span class="handheld-toolbar-icon"><i class="ci-menu"></i></span>
            <span class="handheld-toolbar-label">Menu</span></a>

            {% if user.id is None %}
            <a class="d-table-cell handheld-toolbar-item" href="{% url 'login' %}">
            {% else %}
            <a class="d-table-cell handheld-toolbar-item" href="{% url 'profile' user.profile.slug %}">
            {% endif %}
            <span class="handheld-toolbar-icon"><i class="ci-user"></i></span>
            <span class="handheld-toolbar-label">Account</span></a>
        </div>
    </div>
    <!-- Back To Top Button-->
    <a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
        
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/simplebar.min.js' %}"></script>
    <script src="{% static 'js/tiny-slider.js' %}"></script>
    <script src="{% static 'js/smooth-scroll.polyfills.min.js' %}"></script>
    <script src="{% static 'js/nouislider.min.js' %}"></script>
    <script src="{% static 'js/Drift.min.js' %}"></script>
    <script src="{% static 'js/lightgallery.min.js' %}"></script>
    <script src="{% static 'js/lg-fullscreen.min.js' %}"></script>
    <script src="{% static 'js/lg-zoom.min.js' %}"></script>
    <script src="{% static 'js/lg-video.min.js' %}"></script>
    <!-- Main theme script-->
    <script src="{% static 'js/theme.min.js' %}"></script>
</body>

</html>