{% extends "base.html" %} {% load static %} {% block og %} {{post.title}} {% endblock og %} {% block twitter %} {{post.title}} {% endblock twitter %} {% block description_og %} {{ post.body|safe|striptags|truncatechars:200 }} {% endblock description_og %} {% block description_twitter %} {{ post.body|safe|striptags|truncatechars:200 }} {% endblock description_twitter %} {% block keywords %} {{ post.body|safe|striptags|truncatechars:80 }}{% endblock keywords %} {% block description %} {{ post.body|safe|striptags|truncatechars:160 }} {% endblock description %} {% block title %}{{post.title}}{% endblock title %} {% block style %}

<!-- Code Highlight -->
<link rel="stylesheet" href="{% static 'css/prism.css' %}" /> {% endblock style %} 
{% load i18n %}
{% load comments %}
{% load comments_ink %}

{% block content %}

<section class="pt-20 lg:pt-[75px] pb-10 lg:pb-20">
	<div class="container">
		<div class="flex flex-wrap justify-center -mx-4">
			<div class="w-full px-4">
				<div class="relative rounded overflow-hidden z-20 mb-[60px] h-[300px] md:h-[400px] lg:h-[500px]">
					<img src="{{post.featured_image.url}}" alt="image" class="w-full h-full object-cover object-center" />
					<div class="absolute w-full h-full top-0 left-0 flex items-end z-10 bg-gradient-to-t from-dark-700 to-transparent">
						<div class="flex flex-wrap items-center p-4 sm:p-8 pb-4">
							<div class="flex items-center mb-4 mr-5 md:mr-10">
								<div class="w-10 h-10 rounded-full overflow-hidden mr-4">
									<img src="{% static 'img/blog/author-01.png' %}" alt="image" class="w-full" />
								</div>
								<p class="text-base text-white font-medium">
									By <a href="javascript:void(0)" class="text-white hover:opacity-70"> {{post.author.get_full_name}} </a>
								</p>
							</div>
							<div class="flex items-center mb-4">
								<p class="flex items-center text-sm font-medium text-white mr-5 md:mr-8">
									<span class="mr-3">
										<svg width="15" height="15" viewBox="0 0 15 15" class="fill-current">
											<path d="M3.8958 8.67529H3.10715C2.96376 8.67529 2.86816 8.77089 2.86816 8.91428V9.67904C2.86816 9.82243 2.96376 9.91802 3.10715 9.91802H3.8958C4.03919 9.91802 4.13479 9.82243 4.13479 9.67904V8.91428C4.13479 8.77089 4.03919 8.67529 3.8958 8.67529Z" />
											<path d="M6.429 8.67529H5.64035C5.49696 8.67529 5.40137 8.77089 5.40137 8.91428V9.67904C5.40137 9.82243 5.49696 9.91802 5.64035 9.91802H6.429C6.57239 9.91802 6.66799 9.82243 6.66799 9.67904V8.91428C6.66799 8.77089 6.5485 8.67529 6.429 8.67529Z" />
											<path d="M8.93779 8.67529H8.14914C8.00575 8.67529 7.91016 8.77089 7.91016 8.91428V9.67904C7.91016 9.82243 8.00575 9.91802 8.14914 9.91802H8.93779C9.08118 9.91802 9.17678 9.82243 9.17678 9.67904V8.91428C9.17678 8.77089 9.08118 8.67529 8.93779 8.67529Z" />
											<path d="M11.472 8.67529H10.6833C10.5399 8.67529 10.4443 8.77089 10.4443 8.91428V9.67904C10.4443 9.82243 10.5399 9.91802 10.6833 9.91802H11.472C11.6154 9.91802 11.711 9.82243 11.711 9.67904V8.91428C11.711 8.77089 11.5915 8.67529 11.472 8.67529Z" />
											<path d="M3.8958 11.1606H3.10715C2.96376 11.1606 2.86816 11.2562 2.86816 11.3996V12.1644C2.86816 12.3078 2.96376 12.4034 3.10715 12.4034H3.8958C4.03919 12.4034 4.13479 12.3078 4.13479 12.1644V11.3996C4.13479 11.2562 4.03919 11.1606 3.8958 11.1606Z" />
											<path d="M6.429 11.1606H5.64035C5.49696 11.1606 5.40137 11.2562 5.40137 11.3996V12.1644C5.40137 12.3078 5.49696 12.4034 5.64035 12.4034H6.429C6.57239 12.4034 6.66799 12.3078 6.66799 12.1644V11.3996C6.66799 11.2562 6.5485 11.1606 6.429 11.1606Z" />
											<path d="M8.93779 11.1606H8.14914C8.00575 11.1606 7.91016 11.2562 7.91016 11.3996V12.1644C7.91016 12.3078 8.00575 12.4034 8.14914 12.4034H8.93779C9.08118 12.4034 9.17678 12.3078 9.17678 12.1644V11.3996C9.17678 11.2562 9.08118 11.1606 8.93779 11.1606Z" />
											<path d="M11.472 11.1606H10.6833C10.5399 11.1606 10.4443 11.2562 10.4443 11.3996V12.1644C10.4443 12.3078 10.5399 12.4034 10.6833 12.4034H11.472C11.6154 12.4034 11.711 12.3078 11.711 12.1644V11.3996C11.711 11.2562 11.5915 11.1606 11.472 11.1606Z" />
											<path d="M13.2637 3.3697H7.64754V2.58105C8.19721 2.43765 8.62738 1.91189 8.62738 1.31442C8.62738 0.597464 8.02992 0 7.28906 0C6.54821 0 5.95074 0.597464 5.95074 1.31442C5.95074 1.91189 6.35702 2.41376 6.93058 2.58105V3.3697H1.31442C0.597464 3.3697 0 3.96716 0 4.68412V13.2637C0 13.9807 0.597464 14.5781 1.31442 14.5781H13.2637C13.9807 14.5781 14.5781 13.9807 14.5781 13.2637V4.68412C14.5781 3.96716 13.9807 3.3697 13.2637 3.3697ZM6.6677 1.31442C6.6677 0.979841 6.93058 0.716957 7.28906 0.716957C7.62364 0.716957 7.91042 0.979841 7.91042 1.31442C7.91042 1.649 7.64754 1.91189 7.28906 1.91189C6.95448 1.91189 6.6677 1.6251 6.6677 1.31442ZM1.31442 4.08665H13.2637C13.5983 4.08665 13.8612 4.34954 13.8612 4.68412V6.45261H0.716957V4.68412C0.716957 4.34954 0.979841 4.08665 1.31442 4.08665ZM13.2637 13.8612H1.31442C0.979841 13.8612 0.716957 13.5983 0.716957 13.2637V7.16957H13.8612V13.2637C13.8612 13.5983 13.5983 13.8612 13.2637 13.8612Z" />
										</svg>
									</span>
									{{post.publish|date}}
								</p>
								<p class="flex items-center text-sm font-medium text-white mr-5 md:mr-8">
									<a href="#comments" class="flex">
									<span class="mr-3">
										<svg width="18" height="13" viewBox="0 0 18 13" class="fill-current">
											<path d="M15.9754 0H2.02539C1.09727 0 0.337891 0.759375 0.337891 1.6875V10.6875C0.337891 11.3062 0.647266 11.8406 1.18164 12.15C1.43477 12.2906 1.74414 12.375 2.02539 12.375C2.30664 12.375 2.58789 12.2906 2.86914 12.15L5.34414 10.7156C5.45664 10.6594 5.56914 10.6312 5.68164 10.6312H15.9473C16.8754 10.6312 17.6348 9.87187 17.6348 8.94375V1.6875C17.6629 0.759375 16.9035 0 15.9754 0ZM16.6785 8.94375C16.6785 9.3375 16.3691 9.64687 15.9754 9.64687H5.70977C5.42852 9.64687 5.11914 9.73125 4.86602 9.87187L2.39102 11.3063C2.16602 11.4187 1.91289 11.4187 1.68789 11.3063C1.46289 11.1938 1.35039 10.9688 1.35039 10.7156V1.6875C1.35039 1.29375 1.65977 0.984375 2.05352 0.984375H16.0035C16.3973 0.984375 16.7066 1.29375 16.7066 1.6875V8.94375H16.6785Z" />
											<path d="M12.5721 3.375H5.03457C4.75332 3.375 4.52832 3.6 4.52832 3.88125C4.52832 4.1625 4.75332 4.3875 5.03457 4.3875H12.6002C12.8814 4.3875 13.1064 4.1625 13.1064 3.88125C13.1064 3.6 12.8533 3.375 12.5721 3.375Z" />
											<path d="M11.3908 6.55322H5.03457C4.75332 6.55322 4.52832 6.77822 4.52832 7.05947C4.52832 7.34072 4.75332 7.56572 5.03457 7.56572H11.4189C11.7002 7.56572 11.9252 7.34072 11.9252 7.05947C11.9252 6.77822 11.6721 6.55322 11.3908 6.55322Z" />
										</svg>
									</span>
									{% get_inkcomment_count for post as comment_count %}
									{% if comment_count %}
										{{ comment_count }}						
									{% endif %}
									<a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="flex flex-wrap -mx-4">
					<div class="w-full lg:w-8/12 px-4">
						<div>
							<h2 class="font-bold text-dark text-[26px] sm:text-3xl md:text-4xl leading-snug sm:leading-snug md:leading-snug mb-6">
								{{ post.title }}
							</h2>
							{% if user.is_superuser %}
							<a class="border border-success py-1 px-3 mb-4 mr-3 text-success inline-block rounded hover:bg-secondary hover:text-white" href="{{ post.get_absolute_url }}update/">Update</a>
							<a class="border border-success py-1 px-3 mb-4 text-success inline-block rounded hover:bg-secondary hover:text-white" href="{{ post.get_absolute_url }}delete/">Delete</a>
							{% endif %}
							{{ post.body|safe }}
							<br>
							<div class="flex flex-wrap items-center -mx-4 mb-12">
								<div class="w-full md:w-5/12 px-4">
									<div class="flex items-center flex-wrap mb-8 md:mb-0">
										{% for tag in post.tags.all %}
										<a href="{% url 'post_tag' tag.slug %}" class="block py-2 px-5 bg-primary bg-opacity-5 text-primary rounded text-xs font-medium mr-2 md:mr-4 lg:mr-2 xl:mr-4 mb-2 hover:bg-opacity-100 hover:text-white"> {{tag.name}} </a> {% if not forloop.last %} {% endif %}
										{% endfor %}
									</div>
								</div>
									<span class="text-sm text-body-color font-medium mr-5"> Share This Post </span>
									<div class="gap-4">
										{% load social_share %}
										<button class="duration-500 border-2 w-12 transform hover:-translate-y-3 h-12 text-2xl rounded-full hover:bg-blue-600 hover:text-white text-blue-600">
											{% post_to_facebook post '<i class="icon-facebook"></i>' %}
										</button>
										<button class="duration-500 w-12 h-12 border-2 rounded-full transform hover:-translate-y-3 text-2xl text-green-500 hover:bg-green-600 hover:text-white">
											{% post_to_whatsapp post '<i class="icon-whatsapp"></i>' %}
										</button>
										<button class=" transform hover:-translate-y-3  border-2 w-12 h-12 rounded-full duration-500 text-blue-400 hover:bg-blue-400 hover:text-white text-2xl">
											{% post_to_twitter "text_to_post" post '<i class="icon-twitter"></i>' %}
										</button>
										<button class=" transform hover:-translate-y-3  border-2 w-12 h-12 rounded-full duration-500 text-blue-400 hover:bg-blue-400 hover:text-white text-2xl">
											{% post_to_telegram "text_to_post" post '<i class="icon-telegram"></i>' %}
										</button>
										<button class="transform hover:-translate-y-3  border-2 w-12 h-12 rounded-full duration-500 text-indigo-500 hover:bg-indigo-500 hover:text-white text-2xl">
											{% send_email "subject" "text_to_post" post '<i class="icon-envelope"></i>' %}
										</button>
										<button class="transform hover:-translate-y-3  border-2 w-12 h-12 rounded-full duration-500 text-yellow-600 hover:bg-yellow-600 hover:text-white text-2xl">
											{% post_to_reddit "text_to_post" post '<i class="icon-reddit"></i>' %}
										</button>
									</div>
							</div>
							<div class="mb-8 w-full">
								<div class="inline-flex rounded-full">
									{% if post.previous_post %}
									<a href="{{ post.previous_post.get_absolute_url }}" class="inline-flex items-center justify-center rounded-l-full border border-[#F87171] py-[10px] px-[12px] text-center font-semibold text-black transition-all hover:border-primary hover:bg-primary hover:text-white sm:py-3 sm:px-6"> {{ post.previous_post.title }} </a>
									{% endif %}
									{% if post.next_post %}
									<a href="{{ post.next_post.get_absolute_url }}" class="inline-flex items-center justify-center rounded-r-full border border-[#F87171] py-[10px] px-[12px] text-center text-sm font-semibold text-black transition-all hover:border-primary hover:bg-primary hover:text-white sm:py-3 sm:px-6 sm:text-base"> {{ post.next_post.title }} </a>
									{% endif %}
								</div>
							</div>

							<link rel="stylesheet" type="text/css" href="{% static 'django_comments_ink/css/comments.css' %}">
							<link rel="stylesheet" type="text/css" href="{% static 'django_comments_ink/css/reactions.css' %}">

							<div class="{% dci_custom_selector %}">
								<div class="text-center flex flex-justify-center">
								{% render_object_reactions_form for post %}
								</div>
								{% get_inkcomment_count for post as comment_count %}
								{% if comment_count %}
								<h6 class="text-center">
									{% blocktrans count comment_count=comment_count %}
									There is {{ comment_count }} comment
									{% plural %}
									There are {{ comment_count }} comments
									{% endblocktrans %}
								</h6>
								{% endif %}
							</div>

							{% if comment_count %}
								<div class="{% dci_custom_selector %} pb32">
								{% render_inkcomment_list for post %}
								</div>
							{% endif %}
							{% if is_comment_input_allowed %}
								<div class="{% dci_custom_selector %}" data-dci="comment-form">
								<section class="comment-form">
									<h5 class="text-center">{% translate "Post your comment" %}</h5>
									{% render_inkcomment_form for post %}
								</section>
								</div>
							{% else %}
								<h4 class="text-center">{% trans "New comments are not allowed." %}</h4>
							{% endif %}
						</div>
					</div>
					<div class="w-full lg:w-4/12 px-4">
						<div>
							<div class="mb-3 bg-primary rounded relative py-[6px]">
							</div>
							<div class="flex flex-wrap -mx-4 mb-8">
								<div class="w-full px-4">
									<h2
										class="font-semibold text-dark text-2xl sm:text-[28px] pb-5 relative">
										Popular Articles
									</h2>
									<span class="h-[2px] bg-primary w-20 mb-10 inline-block"></span>
								</div>
								<div class="w-full md:w-1/2 lg:w-full px-4">
									{% if most_recent %}
									{% for post in most_recent %}
									<div class="w-full flex items-center pb-5 mb-5 border-b border-[#F2F3F8]">
										<div class="w-full max-w-[80px] rounded-full overflow-hidden mr-5">
											<img src="{{ post.featured_image.url }}" alt="image" class="w-full" />
										</div>
										<div class="w-full">
											<h4>
												<a href="{{ post.get_absolute_url }}" class="text-lg lg:text-base xl:text-lg leading-snug font-medium text-dark hover:text-primary mb-1 inline-block"> {{ post.title }} </a>
											</h4>
											<p class="text-sm text-body-color">{{post.author.get_full_name}}</p>
										</div>
									</div>
									{% endfor %}
									{% else %}
										<p>There are no latest posts.</p>
									{% endif %}
								</div>
							</div>
							<!-- Categories-->
							<div class="flex flex-wrap -mx-4 mb-8">
								<div class="w-full px-4">
									<h2 class="font-semibold text-dark text-2xl sm:text-[28px] pb-5 relative"> Categories </h2>
									<span class="h-[2px] bg-primary w-20 mb-10 inline-block"></span>
								</div>
								<div class="w-full md:w-1/2 lg:w-full px-4">
									<div class="mb-12">
										<ul>
											{% for link in links %}
											<li class="mb-4 flex text-base text-body-color">
												<span class="mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full bg-primary text-base"></span>
												<a class="flex" href="{% url 'post_by_category' link.slug %}">{{ link.category }}</a>
											</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
							<!-- Popular tags-->
							<div class="flex flex-wrap -mx-4 mb-8">
								<div class="w-full px-4">
									<h2 class="font-semibold text-dark text-2xl sm:text-[28px] pb-5 relative"> Popular tags </h2>
									<span class="h-[2px] bg-primary w-20 mb-10 inline-block"></span>
								</div>
								<div class="w-full md:w-1/2 lg:w-full px-4">
									{% for tag in all_tag %}
									<a href="{% url 'post_tag' tag.slug %}" class="mx-2 my-2 py-2 px-3 lg:px-3 xl:px-5 inline-flex items-center justify-center text-center text-primary text-base border border-primary rounded-md hover:bg-primary hover:border-primary hover:text-white transition">{{ tag }}</a>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex flex-wrap -mx-4">
			<div class="w-full px-4 mt-14">
				<h2 class="font-semibold text-dark text-2xl sm:text-[28px] pb-5 relative">Related Articles</h2>
				<span class="h-[2px] bg-primary w-20 mb-10 inline-block"></span>
			</div>
			{% for post in similar_posts %}
			<div class="w-full md:w-1/2 lg:w-1/3 px-4">
				<div class="mb-10 group">
					<div class="rounded overflow-hidden mb-8">
						<a href="{{ post.get_absolute_url }}" class="block">
							<img src="{{ post.featured_image.url }}" alt="image" class="w-full transition group-hover:scale-125 group-hover:rotate-6" />
						</a>
					</div>
					<div>
						<span class="bg-primary rounded inline-block text-center py-1 px-4 text-xs leading-loose font-semibold text-white mb-5"> {{post.publish|date}} </span>
						<h3>
							<a href="{{ post.get_absolute_url }}" class="font-semibold text-xl sm:text-2xl lg:text-xl xl:text-2xl mb-4 inline-block text-dark hover:text-primary"> {{post.title}} </a>
						</h3>
						<p class="text-base text-body-color">{{ post.body|safe|striptags|truncatechars:200 }}</p>
					</div>
				</div>
			</div>
			{% empty %}
				<p class="text-center text-xl">No related article</p>
			{% endfor %}
		</div>
	</div>
</section>


{% endblock content %} {% block script %}

<!-- Code Highlight -->
<script src="{% static 'js/prism.js' %}"></script>

{% endblock script %}