{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{{ block.super }}&nbsp;&bull;&nbsp;Register{% endblock %}

{% block content %}

<div class="container mx-auto px-2 py-12 pt-28">
	<div class="flex flex-no-wrap items-start">
		<div class="w-full">
			<div class="py-4 px-2">
				<div class="bg-white rounded shadow mt-7 py-7">
					<h5 class="text-lg font-semibold mb-3 ml-5">{% trans "Register" %}</h5>
					<p class="text-base mb-3 ml-5">
						Thanks for confirming your email address. Your user account has been created. Please, assign a password to your new account before you can login.
					</p>
					<form method="POST" autocomplete="off">
						{% csrf_token %}{{ form.email }}
						<div class="mt-10 px-7">
							<div class="grid w-full grid-cols-1 lg:grid-cols-2 md:grid-cols-1 gap-7 mt-7">
								<div>
									<label class="text-base font-medium leading-none text-gray-800" for="{{ form.password.id_for_label }}">
										{% trans form.password.label %}
									</label>
									<div class="{% if 'password' in form.errors %}error{% endif %}">
										{{ form.password }}
									</div>
									{% if "password" in form.errors %}
									<div class="mb-3 helper-text error">
										{{ form.password.url.0 }}
									</div>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="flex flex-col flex-wrap items-center justify-center w-full px-7 lg:flex-row lg:justify-end md:justify-end gap-x-4 gap-y-4">
							<button type="submit" class="bg-indigo-700 rounded hover:bg-indigo-600 transform duration-300 ease-in-out text-sm font-medium px-6 py-4 text-white lg:max-w-[144px] w-full">
							{% trans " Save " %}
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}